*, 
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*1rem = 10px*/
}
body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
a,
a:active,
a:link{
    text-decoration: none;
    color: inherit;
}
/* Main Section */
.main{
    padding: 8rem 5rem 3rem;
}
.heading{
    font-size: 3.2rem;
    margin-bottom: 4rem;
}
form label{
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
}
form input{
    height: 3rem;
    width: 5rem;
    padding: 1rem 0rem 1rem 2rem;
    margin-right: 2rem;
    border: 2px solid #000;
    border-radius: 2px;
}
form button{
    height: 3rem;
    padding: 0rem 2rem;
    border: 2px solid #000;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Result box */
.result-box{
    padding: 3rem 5rem;
}
.result{
    font-size: 1.6rem;
    line-height: 1.5;
}
.result:not(.last-child){
    margin-bottom: 3rem;
}
/* Media Query */
@media only screen and (max-width: 800px) {
    body .result{
        text-align: left;
    }
    .main{
        padding: 5rem 3rem 2rem;
    }
    .result:not(.last-child){
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 50%;
    }
    .heading{
        margin-bottom: 2.5rem;
    }
    .result-box{
        padding: 3rem 4rem 2rem;
    }
}
@media only screen and (max-width: 400px) {
    .main{
        padding: 2rem .3rem;
    }
    form label{
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
    }
    form input{
        height: 3rem;
        width: 4rem;
        margin-right: 1rem;
        padding: 1rem;
    }
    form button{
        padding: 0rem 1.5rem;
    }
}